/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
/* line 6, ../scss/config/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../scss/config/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
/* line 31, ../scss/config/_reset.scss */
*[hidden] {
  display: none;
}

/* line 34, ../scss/config/_reset.scss */
body {
  line-height: 1.5;
}

/* line 37, ../scss/config/_reset.scss */
menu, ol, ul {
  list-style: none;
}

/* line 40, ../scss/config/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../scss/config/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../scss/config/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../scss/config/_reset.scss */
hr {
  border-top: 1px solid #f2f2f2;
}

@font-face {
  font-family: 'iconFont';
  src: url("../fonts/iconFont/iconFont.eot?i2atm4");
  src: url("../fonts/iconFont/iconFont.eot?i2atm4#iefix") format("embedded-opentype"), url("../fonts/iconFont/iconFont.ttf?i2atm4") format("truetype"), url("../fonts/iconFont/iconFont.woff?i2atm4") format("woff"), url("../fonts/iconFont/iconFont.svg?i2atm4#iconFont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* line 16, ../scss/config/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingEl-Italic.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingEl-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingRg-BoldItalic.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingRg-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingEl-Regular.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingEl-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingLt-Regular.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingLt-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingLt-Italic.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingLt-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingRg-Bold.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingRg-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingSb-Regular.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingSb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingRg-Italic.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingRg-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingSb-Italic.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingSb-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Built Titling';
  src: url("../fonts/BuiltTitling/BuiltTitlingRg-Regular.woff2") format("woff2"), url("../fonts/BuiltTitling/BuiltTitlingRg-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* line 2, ../scss/base/_body.scss */
*,
*:before, *:after {
  box-sizing: border-box;
}

/* line 6, ../scss/base/_body.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 11, ../scss/base/_body.scss */
body {
  font-family: "Built Titling", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 100%;
}

/* line 21, ../scss/base/_body.scss */
p {
  margin-bottom: 1.6rem;
}

/* line 25, ../scss/base/_body.scss */
.main-container {
  min-height: 100vh;
}

/* line 1, ../scss/base/_links.scss */
a {
  color: #666666;
  display: inline-block;
  outline: 0;
  text-decoration: none;
  transition: color .1s ease-out;
  vertical-align: middle;
}
/* line 10, ../scss/base/_links.scss */
a.underline-link {
  font-weight: 600;
  text-decoration: underline;
}
/* line 14, ../scss/base/_links.scss */
a.underline-link:hover {
  text-decoration: none;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-flex {
  display: flex;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-inline-flex {
  display: inline-flex;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-block {
  display: block;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-inline-block {
  display: inline-block;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-grid {
  display: grid;
}

/* line 4, ../scss/base/_flexbox.scss */
.d-none {
  display: none;
}

@media (min-width: 540px) {
  /* line 12, ../scss/base/_flexbox.scss */
  .d-sm-flex {
    display: flex;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .d-sm-block {
    display: block;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .d-sm-grid {
    display: grid;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .d-sm-none {
    display: none;
  }

  /* line 12, ../scss/base/_flexbox.scss */
  .d-sm-inline-block {
    display: inline-block;
  }
}
@media (min-width: 720px) {
  /* line 21, ../scss/base/_flexbox.scss */
  .d-md-flex {
    display: flex;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .d-md-block {
    display: block;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .d-md-grid {
    display: grid;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .d-md-none {
    display: none;
  }

  /* line 21, ../scss/base/_flexbox.scss */
  .d-md-inline-block {
    display: inline-block;
  }
}
@media (min-width: 960px) {
  /* line 30, ../scss/base/_flexbox.scss */
  .d-lg-flex {
    display: flex;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .d-lg-block {
    display: block;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .d-lg-grid {
    display: grid;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .d-lg-none {
    display: none;
  }

  /* line 30, ../scss/base/_flexbox.scss */
  .d-lg-inline-block {
    display: inline-block;
  }
}
@media (min-width: 1150px) {
  /* line 39, ../scss/base/_flexbox.scss */
  .d-xl-flex {
    display: flex;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .d-xl-block {
    display: block;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .d-xl-grid {
    display: grid;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .d-xl-none {
    display: none;
  }

  /* line 39, ../scss/base/_flexbox.scss */
  .d-xl-inline-block {
    display: inline-block;
  }
}
/* line 48, ../scss/base/_flexbox.scss */
.fd-row {
  display: row;
}

/* line 48, ../scss/base/_flexbox.scss */
.fd-row-reverse {
  display: row-reverse;
}

/* line 48, ../scss/base/_flexbox.scss */
.fd-column {
  display: column;
}

/* line 48, ../scss/base/_flexbox.scss */
.fd-column-reverse {
  display: column-reverse;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-flex-start {
  justify-content: flex-start;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-flex-end {
  justify-content: flex-end;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-center {
  justify-content: center;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-space-between {
  justify-content: space-between;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-space-around {
  justify-content: space-around;
}

/* line 56, ../scss/base/_flexbox.scss */
.jc-space-evenly {
  justify-content: space-evenly;
}

/* line 64, ../scss/base/_flexbox.scss */
.ai-flex-start {
  align-items: flex-start;
}

/* line 64, ../scss/base/_flexbox.scss */
.ai-flex-end {
  align-items: flex-end;
}

/* line 64, ../scss/base/_flexbox.scss */
.ai-center {
  align-items: center;
}

/* line 64, ../scss/base/_flexbox.scss */
.ai-baseline {
  align-items: baseline;
}

/* line 64, ../scss/base/_flexbox.scss */
.ai-stretch {
  align-items: stretch;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-flex-start {
  align-content: flex-start;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-flex-end {
  align-content: flex-end;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-center {
  align-content: center;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-space-between {
  align-content: space-between;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-space-around {
  align-content: space-around;
}

/* line 72, ../scss/base/_flexbox.scss */
.ac-stretch {
  align-content: stretch;
}

/* line 80, ../scss/base/_flexbox.scss */
.as-flex-start {
  align-self: flex-start;
}

/* line 80, ../scss/base/_flexbox.scss */
.as-flex-end {
  align-self: flex-end;
}

/* line 80, ../scss/base/_flexbox.scss */
.as-center {
  align-self: center;
}

/* line 80, ../scss/base/_flexbox.scss */
.as-baseline {
  align-self: baseline;
}

/* line 80, ../scss/base/_flexbox.scss */
.as-stretch {
  align-self: stretch;
}

/* line 1, ../scss/base/_icons.scss */
.icon-ellipse:before {
  content: "\e900";
}

/* line 4, ../scss/base/_icons.scss */
.icon-ellipses:before {
  content: "\e901";
}

/* line 7, ../scss/base/_icons.scss */
.icon-row-right:before {
  content: "\e902";
}

/* line 10, ../scss/base/_icons.scss */
.icon-row-left:before {
  content: "\e903";
}

/* line 1, ../scss/base/_grid.scss */
.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 720px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 860px;
  }
}
@media (min-width: 960px) {
  /* line 1, ../scss/base/_grid.scss */
  .container {
    max-width: 1140px;
  }
}

/* line 19, ../scss/base/_grid.scss */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
}
@media (max-width: 539px) {
  /* line 19, ../scss/base/_grid.scss */
  .grid {
    grid-gap: 0;
  }
}

/* line 29, ../scss/base/_grid.scss */
.grid-1 {
  grid-column: span 1;
}

/* line 29, ../scss/base/_grid.scss */
.grid-2 {
  grid-column: span 2;
}

/* line 29, ../scss/base/_grid.scss */
.grid-3 {
  grid-column: span 3;
}

/* line 29, ../scss/base/_grid.scss */
.grid-4 {
  grid-column: span 4;
}

/* line 29, ../scss/base/_grid.scss */
.grid-5 {
  grid-column: span 5;
}

/* line 29, ../scss/base/_grid.scss */
.grid-6 {
  grid-column: span 6;
}

/* line 29, ../scss/base/_grid.scss */
.grid-7 {
  grid-column: span 7;
}

/* line 29, ../scss/base/_grid.scss */
.grid-8 {
  grid-column: span 8;
}

/* line 29, ../scss/base/_grid.scss */
.grid-9 {
  grid-column: span 9;
}

/* line 29, ../scss/base/_grid.scss */
.grid-10 {
  grid-column: span 10;
}

/* line 29, ../scss/base/_grid.scss */
.grid-11 {
  grid-column: span 11;
}

/* line 29, ../scss/base/_grid.scss */
.grid-12 {
  grid-column: span 12;
}

@media (min-width: 540px) {
  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-1 {
    grid-column: span 1;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-2 {
    grid-column: span 2;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-3 {
    grid-column: span 3;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-4 {
    grid-column: span 4;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-5 {
    grid-column: span 5;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-6 {
    grid-column: span 6;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-7 {
    grid-column: span 7;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-8 {
    grid-column: span 8;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-9 {
    grid-column: span 9;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-10 {
    grid-column: span 10;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-11 {
    grid-column: span 11;
  }

  /* line 36, ../scss/base/_grid.scss */
  .grid-sm-12 {
    grid-column: span 12;
  }
}
@media (min-width: 720px) {
  /* line 44, ../scss/base/_grid.scss */
  .grid-md-1 {
    grid-column: span 1;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-2 {
    grid-column: span 2;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-3 {
    grid-column: span 3;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-4 {
    grid-column: span 4;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-5 {
    grid-column: span 5;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-6 {
    grid-column: span 6;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-7 {
    grid-column: span 7;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-8 {
    grid-column: span 8;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-9 {
    grid-column: span 9;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-10 {
    grid-column: span 10;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-11 {
    grid-column: span 11;
  }

  /* line 44, ../scss/base/_grid.scss */
  .grid-md-12 {
    grid-column: span 12;
  }
}
@media (min-width: 960px) {
  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-1 {
    grid-column: span 1;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-2 {
    grid-column: span 2;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-3 {
    grid-column: span 3;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-4 {
    grid-column: span 4;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-5 {
    grid-column: span 5;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-6 {
    grid-column: span 6;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-7 {
    grid-column: span 7;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-8 {
    grid-column: span 8;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-9 {
    grid-column: span 9;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-10 {
    grid-column: span 10;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-11 {
    grid-column: span 11;
  }

  /* line 52, ../scss/base/_grid.scss */
  .grid-lg-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1150px) {
  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-1 {
    grid-column: span 1;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-2 {
    grid-column: span 2;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-3 {
    grid-column: span 3;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-4 {
    grid-column: span 4;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-5 {
    grid-column: span 5;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-6 {
    grid-column: span 6;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-7 {
    grid-column: span 7;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-8 {
    grid-column: span 8;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-9 {
    grid-column: span 9;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-10 {
    grid-column: span 10;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-11 {
    grid-column: span 11;
  }

  /* line 60, ../scss/base/_grid.scss */
  .grid-xl-12 {
    grid-column: span 12;
  }
}
/* line 2, ../scss/base/_buttons.scss */
button, .at-btn {
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: "Built Titling", sans-serif;
  font-size: 1.6rem;
  margin: 0.5rem 0;
  padding: 0.6rem 1.2rem;
  text-align: center;
  color: #000000;
  background: #cccccc;
}
/* line 91, ../scss/config/_mixins.scss */
button:hover, .at-btn:hover {
  background: #bababa;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 96, ../scss/config/_mixins.scss */
button:focus, .at-btn:focus {
  background: #bababa;
  outline: 0;
  text-decoration: none;
}
/* line 101, ../scss/config/_mixins.scss */
button:active, .at-btn:active {
  background: #b3b3b3;
}
/* line 106, ../scss/config/_mixins.scss */
button.disabled, button:disabled, .at-btn.disabled, .at-btn:disabled {
  opacity: 0.55;
  color: #000000;
  box-shadow: none;
  cursor: auto;
}
/* line 112, ../scss/config/_mixins.scss */
button.disabled:hover, button:disabled:hover, .at-btn.disabled:hover, .at-btn:disabled:hover {
  background: #cccccc;
}
/* line 115, ../scss/config/_mixins.scss */
button.disabled:focus, button:disabled:focus, .at-btn.disabled:focus, .at-btn:disabled:focus {
  box-shadow: none;
}
/* line 14, ../scss/base/_buttons.scss */
button.shadow, .at-btn.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

/* line 20, ../scss/base/_buttons.scss */
.at-btn-round {
  border-radius: 5rem;
}

/* line 25, ../scss/base/_buttons.scss */
.at-btn-primary-slider {
  color: #ffffff;
  background: #FFC627;
  align-items: center;
  color: #0D2240 !important;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  height: 6.4rem;
  justify-content: center;
  width: 25rem;
}
/* line 91, ../scss/config/_mixins.scss */
.at-btn-primary-slider:hover {
  background: #ffbd03;
  transition: background 0.2s ease;
  text-decoration: none;
}
/* line 96, ../scss/config/_mixins.scss */
.at-btn-primary-slider:focus {
  background: #ffbd03;
  outline: 0;
  text-decoration: none;
}
/* line 101, ../scss/config/_mixins.scss */
.at-btn-primary-slider:active {
  background: #f3b300;
}
/* line 106, ../scss/config/_mixins.scss */
.at-btn-primary-slider.disabled, .at-btn-primary-slider:disabled {
  opacity: 0.55;
  color: #ffffff;
  box-shadow: none;
  cursor: auto;
}
/* line 112, ../scss/config/_mixins.scss */
.at-btn-primary-slider.disabled:hover, .at-btn-primary-slider:disabled:hover {
  background: #FFC627;
}
/* line 115, ../scss/config/_mixins.scss */
.at-btn-primary-slider.disabled:focus, .at-btn-primary-slider:disabled:focus {
  box-shadow: none;
}

/* line 1, ../scss/components/_slider_1.scss */
.header_slider {
  /* Arrows */
  /* Dots */
}
/* line 5, ../scss/components/_slider_1.scss */
.header_slider .slide__image {
  height: 53.7rem;
  object-fit: cover;
  width: 100%;
}
/* line 11, ../scss/components/_slider_1.scss */
.header_slider .slide__information {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.6rem;
  width: calc(100vw);
}
/* line 21, ../scss/components/_slider_1.scss */
.header_slider .slide__information-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
/* line 28, ../scss/components/_slider_1.scss */
.header_slider .slide__information-header img {
  margin-bottom: 2rem;
}
/* line 32, ../scss/components/_slider_1.scss */
.header_slider .slide__information-header h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 48px;
  order: 2;
}
/* line 39, ../scss/components/_slider_1.scss */
.header_slider .slide__information-header img {
  order: 1;
}
/* line 43, ../scss/components/_slider_1.scss */
.header_slider .slide__information p {
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  margin-bottom: 4rem;
  padding: 1rem 4rem;
}
/* line 54, ../scss/components/_slider_1.scss */
.header_slider .slider {
  width: 100%;
}
/* line 58, ../scss/components/_slider_1.scss */
.header_slider .slick-slide img {
  width: 100%;
}
/* line 62, ../scss/components/_slider_1.scss */
.header_slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
/* line 67, ../scss/components/_slider_1.scss */
.header_slider .slick-current {
  opacity: 1;
}
/* line 72, ../scss/components/_slider_1.scss */
.header_slider .slick-prev,
.header_slider .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
/* line 97, ../scss/components/_slider_1.scss */
.header_slider .slick-prev:hover,
.header_slider .slick-prev:focus,
.header_slider .slick-next:hover,
.header_slider .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
/* line 106, ../scss/components/_slider_1.scss */
.header_slider .slick-prev:hover:before,
.header_slider .slick-prev:focus:before,
.header_slider .slick-next:hover:before,
.header_slider .slick-next:focus:before {
  opacity: 1;
}
/* line 113, ../scss/components/_slider_1.scss */
.header_slider .slick-prev.slick-disabled:before,
.header_slider .slick-next.slick-disabled:before {
  opacity: .25;
}
/* line 118, ../scss/components/_slider_1.scss */
.header_slider .slick-prev:before,
.header_slider .slick-next:before {
  font-family: 'iconFont';
  font-size: 40px;
  line-height: 1;
  color: #FFC627;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 132, ../scss/components/_slider_1.scss */
.header_slider .slick-prev {
  left: 40px;
  z-index: 1;
}
/* line 136, ../scss/components/_slider_1.scss */
.header_slider [dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
/* line 140, ../scss/components/_slider_1.scss */
.header_slider .slick-prev:before {
  content: "\e903";
}
/* line 143, ../scss/components/_slider_1.scss */
.header_slider [dir='rtl'] .slick-prev:before {
  content: "\e903";
}
/* line 147, ../scss/components/_slider_1.scss */
.header_slider .slick-next {
  right: 40px;
}
/* line 150, ../scss/components/_slider_1.scss */
.header_slider [dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
/* line 154, ../scss/components/_slider_1.scss */
.header_slider .slick-next:before {
  content: "\e902";
}
/* line 157, ../scss/components/_slider_1.scss */
.header_slider [dir='rtl'] .slick-next:before {
  content: "\e902";
}
/* line 162, ../scss/components/_slider_1.scss */
.header_slider .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
/* line 167, ../scss/components/_slider_1.scss */
.header_slider .slick-dots {
  position: absolute;
  bottom: 37px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 182, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
/* line 195, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  outline: none;
  background: transparent;
}
/* line 213, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li button:hover,
.header_slider .slick-dots li button:focus {
  outline: none;
}
/* line 218, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li button:hover:before,
.header_slider .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 223, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li button:before {
  font-family: 'iconFont';
  font-size: 1.3rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "\e900";
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 244, ../scss/components/_slider_1.scss */
.header_slider .slick-dots li.slick-active button:before {
  content: "\e901";
  color: #FFC627;
  font-size: 2.3rem;
}

@media (min-width: 720px) {
  /* line 260, ../scss/components/_slider_1.scss */
  .header_slider .slide__information p {
    padding: 1rem 10rem;
  }
}
@media (min-width: 960px) {
  /* line 271, ../scss/components/_slider_1.scss */
  .header_slider {
    /* Arrows */
  }
  /* line 276, ../scss/components/_slider_1.scss */
  .header_slider .slide__information p {
    text-align: center;
    font-family: "Inter", sans-serif;
    line-height: 24px;
    margin-bottom: 4rem;
    padding: 0rem 30rem;
  }
  /* line 287, ../scss/components/_slider_1.scss */
  .header_slider .slick-prev,
  .header_slider .slick-next {
    top: 56%;
  }
  /* line 292, ../scss/components/_slider_1.scss */
  .header_slider .slick-prev {
    left: 150px;
  }
  /* line 295, ../scss/components/_slider_1.scss */
  .header_slider .slick-next {
    right: 150px;
  }
  /* line 299, ../scss/components/_slider_1.scss */
  .header_slider .slick-dots {
    bottom: 60px;
  }
}
@media (min-width: 1440px) {
  /* line 310, ../scss/components/_slider_1.scss */
  .header_slider .slide__image {
    height: 63.5rem;
  }
  /* line 314, ../scss/components/_slider_1.scss */
  .header_slider .slide__information {
    top: 22rem;
  }
  /* line 318, ../scss/components/_slider_1.scss */
  .header_slider .slide__information-header {
    flex-direction: row;
    margin-bottom: 4rem;
  }
  /* line 322, ../scss/components/_slider_1.scss */
  .header_slider .slide__information-header h2 {
    font-size: 4.5rem;
    margin-right: 2rem;
  }
  /* line 327, ../scss/components/_slider_1.scss */
  .header_slider .slide__information-header img {
    margin-bottom: unset;
  }
  /* line 331, ../scss/components/_slider_1.scss */
  .header_slider .slide__information-header h2, .header_slider .slide__information-header img {
    order: unset;
  }
  /* line 335, ../scss/components/_slider_1.scss */
  .header_slider .slide__information p {
    margin-bottom: 9rem;
    padding: 0rem 44rem;
  }
}
/* line 2, ../scss/components/_slider_2.scss */
.ritual_header {
  margin: 5rem 0 0;
  text-align: center;
}
/* line 6, ../scss/components/_slider_2.scss */
.ritual_header p {
  color: #0D2240;
}
/* line 9, ../scss/components/_slider_2.scss */
.ritual_header p:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 36px;
}
/* line 15, ../scss/components/_slider_2.scss */
.ritual_header p:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 22px;
  margin: 0 5rem;
}

/* line 22, ../scss/components/_slider_2.scss */
.ritual_slider {
  /* Arrows */
  /* Dots */
}
/* line 24, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card {
  border-radius: 20px 20px 0px 0px;
  box-shadow: 20px 20px 17px #cccccc;
  display: flex;
  flex-direction: column;
  height: 912px;
  width: 100%;
}
/* line 34, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__image img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
}
/* line 41, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
/* line 47, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__content-image {
  max-height: 130px;
}
/* line 50, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__content-image img {
  height: 135px;
  margin: 0 auto;
  width: auto;
}
/* line 57, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__content span {
  color: #FFC627;
  font-size: 5.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}
/* line 64, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__content p {
  color: #0D2240;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 90px;
  max-width: 20rem;
  text-align: center;
}
/* line 77, ../scss/components/_slider_2.scss */
.ritual_slider .slide-card__count {
  color: #0D2240 !important;
  font-size: 2.5rem !important;
  line-height: 30px;
}
/* line 84, ../scss/components/_slider_2.scss */
.ritual_slider .slick-track {
  margin: 10rem 0;
}
/* line 88, ../scss/components/_slider_2.scss */
.ritual_slider .slider {
  margin: 100px auto;
}
/* line 92, ../scss/components/_slider_2.scss */
.ritual_slider .slick-slide {
  margin: 0px 17px;
}
/* line 96, ../scss/components/_slider_2.scss */
.ritual_slider .slick-slide {
  transition: all ease-in-out .3s;
  opacity: 0;
}
/* line 101, ../scss/components/_slider_2.scss */
.ritual_slider .slick-current {
  transition: all ease-in-out .4s;
  opacity: 1;
}
/* line 107, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev,
.ritual_slider .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 85%;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
/* line 132, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev:hover,
.ritual_slider .slick-prev:focus,
.ritual_slider .slick-next:hover,
.ritual_slider .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
/* line 141, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev:hover:before,
.ritual_slider .slick-prev:focus:before,
.ritual_slider .slick-next:hover:before,
.ritual_slider .slick-next:focus:before {
  opacity: 1;
}
/* line 148, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev.slick-disabled:before,
.ritual_slider .slick-next.slick-disabled:before {
  opacity: 0;
}
/* line 154, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev:before,
.ritual_slider .slick-next:before {
  font-family: 'iconFont';
  font-size: 40px;
  line-height: 1;
  color: #FFC627;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 167, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev {
  left: calc(35vw);
  z-index: 1;
}
/* line 172, ../scss/components/_slider_2.scss */
.ritual_slider [dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
/* line 177, ../scss/components/_slider_2.scss */
.ritual_slider .slick-prev:before {
  content: "\e903";
}
/* line 181, ../scss/components/_slider_2.scss */
.ritual_slider [dir='rtl'] .slick-prev:before {
  content: "\e903";
}
/* line 186, ../scss/components/_slider_2.scss */
.ritual_slider .slick-next {
  right: calc(35vw);
}
/* line 190, ../scss/components/_slider_2.scss */
.ritual_slider [dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
/* line 195, ../scss/components/_slider_2.scss */
.ritual_slider .slick-next:before {
  content: "\e902";
}
/* line 199, ../scss/components/_slider_2.scss */
.ritual_slider [dir='rtl'] .slick-next:before {
  content: "\e902";
}
/* line 205, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
/* line 210, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots {
  position: absolute;
  bottom: 208px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 225, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 20px;
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}
/* line 238, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: #0D2240;
  border: 0;
  outline: none;
  background: transparent;
}
/* line 256, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li button:hover,
.ritual_slider .slick-dots li button:focus {
  outline: none;
}
/* line 261, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li button:hover:before,
.ritual_slider .slick-dots li button:focus:before {
  opacity: 1;
}
/* line 266, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li button:before {
  font-family: 'iconFont';
  font-size: 1.3rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  content: "\e900";
  text-align: center;
  color: #0D2240;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 288, ../scss/components/_slider_2.scss */
.ritual_slider .slick-dots li.slick-active button:before {
  color: #FFC627;
}

@media (min-width: 960px) {
  /* line 298, ../scss/components/_slider_2.scss */
  .ritual_header p:nth-child(1) {
    font-size: 3.5rem;
    line-height: 40px;
  }
  /* line 303, ../scss/components/_slider_2.scss */
  .ritual_header p:nth-child(2) {
    font-size: 1.6rem;
    line-height: 24px;
  }

  /* line 311, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card {
    border-radius: 20px 0px 0px 20px;
    flex-direction: row !important;
    height: 467px;
    position: relative;
    width: auto;
  }
  /* line 318, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__image {
    width: 50%;
  }
  /* line 321, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__image img {
    border-radius: 20px 0px 0px 20px;
    height: 467px;
  }
  /* line 327, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content {
    margin: 3.6rem 3.8rem;
    width: 50%;
  }
  /* line 331, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content p {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 10px;
    max-width: 28rem;
  }
  /* line 340, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__count {
    bottom: 4rem;
    position: absolute;
    right: 6%;
  }
  /* line 347, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-slide {
    margin: 0px 40px;
  }
  /* line 351, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-dots {
    bottom: 380px;
    transform: rotate(90deg);
    right: 1rem;
    width: inherit;
  }
  /* line 358, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-prev {
    left: calc(84vw);
    top: 74%;
  }
  /* line 363, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-next {
    right: calc(6vw);
    top: 74%;
  }
}
@media (min-width: 1150px) {
  /* line 376, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__count {
    right: 7%;
  }
}
@media (min-width: 1440px) {
  /* line 391, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__image img {
    width: 717px;
  }
  /* line 396, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content {
    width: 100%;
  }
  /* line 400, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content-image {
    max-height: 154px;
  }
  /* line 403, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content-image img {
    height: 100%;
    margin-top: 2rem;
  }
  /* line 409, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__content span {
    font-size: 5.4rem;
    margin-bottom: 5px;
    margin-top: 25px;
  }
  /* line 416, ../scss/components/_slider_2.scss */
  .ritual_slider .slide-card__count {
    bottom: 5rem;
    right: 6%;
  }
  /* line 422, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-slide {
    margin: 0px 70px;
  }
  /* line 426, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-dots {
    right: 5rem;
  }
  /* line 430, ../scss/components/_slider_2.scss */
  .ritual_slider .slick-next {
    right: calc(7vw);
  }
}
